@mixin cardsizer($width,$height) {
    width: $width;
    min-width: $width;
    min-height: $height;
    max-height: $height;
}

@mixin cardify($width,$height) {
    @include cardsizer($width,$height);
    height: auto;
    border: 1px outset #470a25;
    border-radius: 5px;
    background: #9A1551;
}

@mixin transify() {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

body {
    background: url(images/bg.jpg);
    background-clip: content-box;
    background-size: cover;
    font-family: 'Roboto';
}

.containercase {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.showcase {
    min-width: 100vw;
    min-height: 302px;
    max-height: 302px;
    overflow: hidden;
    display: flex;
    position: static;

    .backward, .forward {
        position: absolute;
        top: 30vh;

        i {
            font-size: 40px
        }
    }

    .backward {
        left: 5px;
    }

    .forward {
        right: 5px;
    }

    .card-container {
        position: relative;
        float: left;
        margin: 0 15px 0 0;
        @include cardsizer(180px,280px);
        @include transify();
        z-index: 4;

        &:hover {
            @include cardsizer(190px,290px);
            margin: 0 15px 0 0;
            z-index: 5 !important;

            & .card {
                @include cardify(190px,290px);
            }
        }

        &.hidden-right {
            margin-right: -196px;

            footer {
                display: none;
            }
        }

        &.hidden-left {
            z-index: 0;
            margin-left: -194px;

            footer {
                display: none;
            }
        }

        @media screen and (max-width: 991px) {
            &.hidden-right {
                margin-right: -150%;

                footer {
                    display: none;
                }
            }

            &.hidden-left {
                z-index: 0;
                margin-left: -150%;

                footer {
                    display: none;
                }
            }
        }

        .card {
            position: relative;
            @include cardify(180px,280px);
            box-shadow: #39081e 1px 1px;
            overflow: visible;
            header {
                color: white;

                hgroup {
                    text-align: center;
                    padding: 4px;

                    h1 {
                        margin: 0;
                        font-size: 8pt;
                    }
                }



                .avatar {
                    width: 98%;
                    background-color: white;
                    border-radius: 2%;
                    margin: 3px 1px 1px 1px;

                    img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 60%;
                    }
                }
            }

            footer {
                position: absolute;
                bottom: 1px;
                left: 1px;
                width: 170px;

                button, a {
                    i {
                        font-size: 20px;
                    }
                }
            }

            content {
                display: block;
                padding: 0 0 0 20px;

                hgroup {
                    margin: 0;
                    color: #FFEF24;

                    @for $i from 1 through 6 {
                        h#{$i} {
                            margin: 0;
                        }
                    }
                }
            }

            @for $i from 1 through 3 {
                &.block-#{$i} {
                    @if($i == 3) {
                        &:hover {
                            @include cardify(180px,280px);
                            z-index: ((3 -$i) +1);
                        }
                    }

                    z-index: ((3 -$i) +1);
                    position: relative;
                    content: "";
                    display: block;
                    box-shadow: #9A1551 0.5px 0.5px;
                    margin-left: 2px*($i + 0.5);

                    @if($i > 1) {
                        margin-top: -160%;
                    }
                }
            }
        }
    }
}

.to-right {
    float: right;
}

.btn-v {
    border: none;

    &.btnv-icon {
        background: transparent;
        color: white;

        &:active , &:hover{
            color: white !important;
            outline: none;
        }
    }
}

.double-line {
    text-decoration: line-through;
}
